<h1 mat-dialog-title>Ajouter un Univers</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input
      matInput
      [value]="universe.name"
      [formControl]="name"
      placeholder="Nom"
      required
    />
    <mat-error *ngIf="name.invalid">{{ getErrorMessage("name") }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      [value]="universe.imageURL"
      [formControl]="imageURL"
      placeholder="Image (lien)"
      type="url"
      required
    />
    <mat-error *ngIf="imageURL.invalid">{{
      getErrorMessage("imageURL")
    }}</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="warn" (click)="onNoClick()">Annuler</button>
  <button
    class="btn-add"
    mat-flat-button
    (click)="onAddClick()"
    [disabled]="name.status === 'INVALID' || imageURL.status === 'INVALID'"
  >
    Ajouter
  </button>
</div>
