<div [ngClass]="{ container: figureId }">
  <mat-card class="card" *ngIf="loaded">
    <mat-card-header>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Modifier</span>
        </button>
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Supprimer</span>
        </button>
      </mat-menu>
      <div
        mat-card-avatar
        class="header-image"
        [ngStyle]="{
          'background-image': 'url(' + figure.universeImageURL + ')'
        }"
      ></div>
      <mat-card-title>{{ figure.name }} </mat-card-title>
      <mat-card-subtitle>{{ figure.universeName }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="figure.imageURL" alt="figure" />
  </mat-card>
</div>
