<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ universe.name }} </mat-card-title>
    <mat-card-subtitle
      >{{ universe.figures.length }} Figurines</mat-card-subtitle
    >
  </mat-card-header>
  <img
    mat-card-image
    [src]="universe.imageURL"
    alt="figure"
    (click)="onSelectUniverse(universe.id)"
  />
  <mat-card-actions>
    <button
      mat-button
      title="Nom des figurines"
      [matMenuTriggerFor]="afterMenu"
      [disabled]="universe.figures.length === 0"
    >
      <mat-icon>list</mat-icon>
    </button>
    <mat-menu #afterMenu="matMenu" xPosition="after">
      <button
        mat-menu-item
        *ngFor="let figure of universe.figures"
        (click)="onSelectMenu(figure.id)"
      >
        {{ figure.name }}
      </button>
    </mat-menu>
    <button
      mat-button
      title="Voir plus"
      (click)="onSelectUniverse(universe.id)"
      [disabled]="universe.figures.length === 0"
    >
      <mat-icon>remove_red_eye</mat-icon>
    </button>
    <button
      mat-button
      title="Supprimer"
      (click)="removeUniverseById(universe.id)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
