<mat-toolbar style="background-color: #1874d2; color: white">
  <img src="/assets/groupeAEN.png" />
  <button mat-raised-button routerLink="universes" (click)="inserts()">
    <mat-icon>dns</mat-icon> INSERTS BDD
  </button>
  <mat-label> <- conseillé au premier lancement</mat-label>
  <span class="spacer"></span>
  <mat-icon>movie</mat-icon>
  <button mat-stroked-button routerLink="universes">Univers</button>
  <mat-icon>recent_actors</mat-icon>
  <button mat-stroked-button routerLink="figures">Figurines</button>
</mat-toolbar>
<ngx-spinner
  bdColor="rgb(24, 116, 210)"
  type="ball-scale-multiple"
  template="<img src='https://media1.giphy.com/media/TvLuZ00OIADoQ/giphy.gif?cid=ecf05e47no6r6ci2im5289u2y9mhkqmnwlgfc3gqwhl3caa1&rid=giphy.gif&ct=g' />"
>
  <p style="font-size: 20px; color: white; margin-top: 450px">Chargement...</p>
</ngx-spinner>

<router-outlet></router-outlet>
